@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');

/* MAIN STYLES */

body {
	margin: 0;
	background-color: #edfeff;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 400;
	font-style: normal;
}

button {
	cursor: pointer;
}

p h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: justify;
}

ul {
	z-index: 2;
	position: absolute;
	transform: translateY(6px);
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

button {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 400;
	font-style: normal;
	border: none;
}
a {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 600;
	font-style: normal;
	text-decoration: none;

	margin: 0;
	padding: 0;
}

.yellow {
	background-color: #fbe56d;
	color: #fff;
	box-shadow: 2px 4px 0px 2px rgba(199, 182, 88, 0.75);
	transition: all 0.1s ease-in-out;
}

.yellow:hover {
	transform: scale(1.05);
	background-color: #ff9fcf;
	color: #fff;
	box-shadow: 2px 4px 0px 2px #df85b6;
}

.yellow:active {
	transform: translateY(5px);
	box-shadow: 1px 2px 0px 1px #df85b6;
}

.pink {
	background-color: #ff9fcf;
	color: #fff;
	box-shadow: 2px 4px 0px 2px #df85b6;
	transition: all 0.1s ease-in-out;
}

.pink:hover {
	transform: scale(1.05);
	background-color: #fbe56d;
	color: #fff;
	box-shadow: 2px 4px 0px 2px rgba(199, 182, 88, 0.75);
}

.pink:active {
	transform: translateY(5px);
	box-shadow: 1px 2px 0px 1px rgba(199, 182, 88, 0.75);
}

.container {
	max-width: 1440px;
	margin: auto;
}

/* HEADER STYLES */

.header {
	position: relative;
	display: flex;
	justify-content: start;
	gap: 45px;
	align-items: center;
	width: 1234px;
	height: 80px;
	background-color: #51b4ff;
	margin: auto;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	background-image: url('./styles/sky.png');
	background-position-y: -30px;
	animation-name: sky;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	background-position-x: 989px;
}

@keyframes sky {
	from {
		background-position-x: 989px;
	}
	to {
		background-position-x: 0px;
	}
}

.plane {
	z-index: 1;
	position: absolute;
	transform: translate(0px, 0px);
	transform: scale(0.9);
}

.links_header {
	width: 590px;
	height: 80px;
}

.logo {
	margin-left: 20px;
}

.header-btn {
	font-size: 24px;
	padding: 6px 36px;
	border-radius: 20px;
}

.buttons {
	display: flex;
	gap: 11px;
	margin-right: 20px;
}

.header_list {
	display: flex;
	margin-left: 20px;
	gap: 35px;
	align-items: center;
}

.header_link {
	background: none;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 900;
	color: #fff;
	font-size: 20px;
	transition: all 0.2s ease;
}

.header_link:hover {
	color: #ffecec;
}

/* HOT SECTION STYLES */

.hot_section {
	max-width: 1234px;
	margin: auto;
	background-color: #fff;
	margin-top: 24px;
	border-radius: 20px;
	padding-bottom: 50px;
	margin-bottom: 40px;
}

.hot_head {
	background-color: #ffb143;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 20px;
	overflow: hidden;
}

.hot_head_text {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-left: 24px;
}

.hot_h {
	color: #fff;
	font-weight: 600;
	font-size: 24px;
	margin: 0;
	padding: 0;
}

.background_h {
	transform: scaleX(1);
	animation: hot-back 2s ease-in-out infinite;
}

@keyframes hot-back {
	from {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(1.15);
	}
	to {
		transform: scaleX(1);
	}
}

.slider_hot {
	max-width: 1234px;
	height: 270px;
	padding: 0 25px 0px 25px;
}

.arrow_btn {
	padding: 20px 10px;
}

.slider_btn {
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
}

.left {
	transform: rotate(0deg);
}

.left:hover {
	background-color: #ffb143;
	transform: scale(1.07);
}

.left:active {
	background-color: #98e2ff;
	transform: scale(1.03);
}

.right {
	transform: rotate(180deg);
}

.right:hover {
	background-color: #ffb143;
	transform: rotate(180deg) scale(1.07);
}

.right:active {
	background-color: #98e2ff;
	transform: rotate(180deg) scale(1.03);
}

.slider_hot {
	position: relative;
}

.slider_btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hot_card {
	min-width: 254px;
	height: 270px;
	background-color: #fff;
	background-image: url('./styles/Group\ 6.png');
	background-repeat: no-repeat;
	background-position-y: bottom;
	background-position-x: center;
	border-width: 6px;
	border: solid;
	border-radius: 10px;
	border-color: #e9e9e9;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.hot_card h5 {
	font-size: 11px;
}

.hot_card p {
	width: 64px;
	font-size: 9px;
	font-weight: 600;
}

.card_description {
	display: flex;
	align-items: center;
	gap: 20px;
}

.stars {
	height: 11px;
	display: flex;
	align-items: center;
}

.rate,
.guest_cnt,
.place {
	display: flex;
	gap: 6px;
}

.hot-btn {
	font-size: 11px;
	padding: 8px 16px;
	border-radius: 20px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 900;
}

.slider_photos {
	margin-top: 10px;
	height: 130px;
}

.slider_photos img {
	width: 200px;
	border-radius: 20px;
	height: 130px;
}

.price {
	color: #4f4f4f;
	font-size: 13px;
}

.yellow-red {
	background-color: #fbe56d;
	color: #fff;
	box-shadow: 2px 4px 0px 2px rgba(199, 182, 88, 0.75);
	transition: all 0.1s ease-in-out;
}

.yellow-red:hover {
	background-color: #ff3737;
	box-shadow: 2px 4px 0px 2px rgba(138, 51, 51, 0.75);
	transform: scale(1.05);
}

.yellow-red:active {
	background-color: #ff3737;
	transform: translateY(5px);
	box-shadow: 1.4px 3px 0px 1.4px rgba(138, 51, 51, 0.75);
	transition: all 0.1s ease-in-out;
}

.slider_btns {
	position: absolute;
	width: 96%;
	top: 36%;
	z-index: 10;
}

.slider_hot {
	margin-top: 40px;
	max-width: 1234px;
	padding-bottom: 5px;
	overflow: hidden;
}

/* TARIFFS SECTION STYLES */

.tariffs {
	width: 1234px;
	margin: auto;
	height: 490px;
	background-color: #fff;
	border-radius: 20px;
	margin-bottom: 40px;
}

.tarrifs_head {
	background-color: #ff99d3;
}

.tariff_stars img {
	min-width: 34px;
	min-height: 34px;
}

.tariffs h4 {
	font-size: 27px;
	font-weight: 1000;
	color: #5b5b5b;
}

.tar_card_h h2 {
	color: #fff;
	font-size: 48px;
	font-weight: 900;
	margin: 0;
	padding: 0;
	height: 58px;
	text-align: center;
}

.tariff_h {
	margin-right: 40px;
	color: #fff;
	font-size: 24px;
}

.tar_price {
	display: flex;
	justify-content: space-between;
	margin-left: 14px;
	margin-bottom: 24px;
	margin-right: 14px;
}

.tar_card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #eaffe7;
	width: 344px;
	border-radius: 50px;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}

.tar_card:hover {
	transform: scale(1.05);
	box-shadow: -2px 1px 0px 18px rgba(231, 231, 231, 0.479);
}

.econom {
	background-color: #70ff5d;
}

.tar_card_h {
	background-color: #70ff5d;
	background-image: url('./styles/rect2.svg');
	background-position-x: -260px;
	background-size: 300px;
	background-repeat: no-repeat;
	width: 100%;
	transform: translateX(-5px);
	padding: 14px;
	margin-bottom: 44px;
	animation-name: rect-animate;
	animation-timing-function: cubic-bezier(0.855, 0.403, 0.115, 0.985);
	animation-duration: 2s;

	animation-iteration-count: infinite;
}

@keyframes rect-animate {
	0% {
		background-position-x: -260px;
	}

	0.5% {
		to {
			background-position-x: 285px;
		}
	}
	100% {
		background-position-x: 285px;
	}
}

.comfort {
	background-color: #5df7ff;
	animation-timing-function: cubic-bezier(0.955, 0.003, 0.415, 0.985);
}

.comfort_card {
	background-color: #e7fffd;
}

.tariffs_cards {
	display: flex;
	justify-content: center;
	gap: 46px;
	margin-top: 20px;
}

.business_card {
	background-color: #f2e7ff;
}

.business {
	background-color: #d95dff;
	animation-timing-function: cubic-bezier(0.955, 0.103, 0.915, 0.585);
}

/* CUSTOM TOUR SECTION STYLES */

.cst_tour_head {
	background-color: #3ad8ff;
	overflow-x: hidden;
}

.custom_tour {
	width: 1234px;
	margin: auto;
	height: 490px;
	background-color: #fff;
	border-radius: 20px;
	margin-bottom: 160px;
}

.cst_head_text {
	margin-right: 40px;
}

.dialog {
	position: relative;
	background-image: url('./styles/dialog.png');
	background-repeat: no-repeat;
	width: 797px;
	height: 314px;
	animation: dialog 2s ease-in-out infinite;
}

@keyframes dialog {
	from {
		transform: scale(1) translateY(-10px);
	}
	50% {
		transform: scale(1.03) translateY(10px);
	}
	to {
		transform: scale(1) translateY(-10px);
	}
}

.dialog_txt {
	transform: translateX(5%) translateY(50px) scale(0.9);
}

.dialog_txt p {
	font-size: 34px;
	font-weight: 900;
	width: 555px;
	color: #fff;
}

.info_robo {
	display: flex;
	margin-top: 20px;
	margin-left: 50px;
}

.sec-btn {
	max-width: 140px;
	font-size: 20px;
	padding: 10px 60px;
	background-color: #818181;
	color: #fff;
	border-radius: 20px;
	box-shadow: 1.4px 3px 0px 1.4px rgba(60, 60, 60, 0.75);
}

.purple {
	transform: translateX(200px);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ce48ff;
	box-shadow: 2px 4px 0px 2px #824064;
	transition: all 0.1s ease-in-out;
}

.purple:hover {
	background-color: #4ab7ff;
	box-shadow: 2px 4px 0px 2px #407082;
	transform: translateX(200px) scale(1.05);
}

.purple:active {
	transform: translateX(200px) translateY(5px) scale(1.05);
	box-shadow: 1px 3px 0px 1px #407082;
}

.dog {
	position: relative;
}

.eye {
	background-image: url('./styles/dog_eye.svg');
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	animation: eye 2s ease-in-out infinite;
}
.eyes {
	display: flex;
	gap: 24px;
	position: absolute;
	top: 40px;
	left: 90px;
}

@keyframes eye {
	from {
		background-image: url('./styles/dog_open_eye.svg');
	}
	10% {
		background-image: url('./styles/dog_eye.svg');
	}
	15% {
		background-image: url('./styles/dog_open_eye.svg');
	}
	20% {
		background-image: url('./styles/dog_eye.svg');
	}
	25% {
		background-image: url('./styles/dog_open_eye.svg');
	}

	60% {
		background-image: url('./styles/dog_open_eye.svg');
	}
	65% {
		background-image: url('./styles/dog_eye.svg');
	}
	70% {
		background-image: url('./styles/dog_open_eye.svg');
	}
	to {
		background-image: url('./styles/dog_open_eye.svg');
	}
}

/* CUSTOMPAGE STYLES */

.dog_head {
	position: relative;
}

.dog_eyes {
	position: absolute;
	transform: scale(0.6);
	top: 20px;
	left: 42px;
}

.eyes_right {
	left: 47px;
}

.dialog_pos {
	max-width: 360px;
	position: absolute;
	transform: translateX(660px) translateY(0px);
	transition: all 2s ease-in-out;
}

.dialog_window {
	position: relative;
	width: 360px;
	z-index: 100;
	animation: dialog-window 1s ease-in-out infinite;
}

@keyframes dialog-window {
	from {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(2%);
	}
	to {
		transform: translateY(0%);
	}
}

.dog_pos {
	position: absolute;
	top: -10px;
	right: -40px;
	z-index: 1;
}

.custom_page {
	position: relative;
	margin: auto;
	margin-top: 40px;
	padding-top: 92px;
	width: 1104px;
	background-color: #fff;
	border-radius: 20px;
	padding-left: 37px;
	padding-right: 37px;
	padding-bottom: 52px;
	overflow: hidden;
}

.dialog_text {
	transform-origin: 100% 0%;
	transform: scale(0);
	background-color: #40b6ff;
	text-align: center;
	font-weight: 400;
	color: #fff;
	width: 276px;
	height: 162px;
	font-size: 28px;
	padding: 24px 20px;
	border-bottom-left-radius: 90px;
	padding-bottom: 10px;
	border-top-right-radius: 90px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border: solid #ffffff5a;
	z-index: 10;
	border-width: 10px;
	transition: all 1s ease-in-out;
}

.dialog_text_appears {
	transform: scale(1);
	z-index: 0;
	transition: all 1s ease-in-out;
}

.form h1 {
	color: #40b6ff;
	font-size: 48px;
	font-weight: 900;
}

.form input {
	border: #3ad8ff00;
	border-radius: 90px 45px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	padding: 16px 10px;
	font-size: 40px;
	width: 160px;
	font-weight: 900;
	text-align: center;
	background-color: #eeeeee;
}

input:focus {
	outline: none;
}

input::placeholder {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
	transform: translateY(-5px);
}

.age {
	display: flex;
	align-items: center;
	gap: 24px;
	margin-bottom: 120px;
}

.ppl_cnt {
	display: flex;
	align-items: center;
	transform: translateX(100%);
	width: 550px;
	gap: 24px;
	margin-bottom: 140px;
}

.tariff_btns {
	background-color: #eeeeee;
	width: 590px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 190px;
}

.tar_btn {
	padding: 16px 45px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 28px;
	color: #a7a7a7;
	transition: all 0.2s ease-in-out;
	border-radius: 20px;
}

.eco_btn {
	background-color: #70ff5d;
	color: #fff;
	padding: 16px 50px;
}

.com_btn {
	background-color: #5df7ff;
	color: #fff;
	padding: 16px 50px;
}

.bus_btn {
	background-color: #d95dff;
	color: #fff;
	padding: 16px 50px;
}

.season_btn {
	background: none;
	display: flex;
	flex-direction: column;
	gap: 40px;
	opacity: 50%;
	transition: all 0.1s ease-in-out;
	z-index: 1;
	background-repeat: no-repeat;
	background-position: center;
	width: 280px;
	height: 180px;
}

.season_btn:hover {
	transform: scale(1.1);
}

.season_btn img {
	width: 280px;
	z-index: 0;
}

.season_btns {
	gap: 20px;
}

.season_btns h2 {
	color: #40b6ff;
	font-size: 28px;
	font-weight: 900;
	text-align: center;
	margin-top: 160px;
}

.summer {
	background-image: url('./styles/dog_summer.svg');
}

.autumn {
	background-position-y: 8px;
	background-image: url('./styles/dog_autumn.svg');
}

.winter {
	background-image: url('./styles/dog_winter.svg');
	gap: 0px;
}

.spring {
	background-position-y: -4px;
	background-image: url('./styles/dog_spring.svg');
}

.season_btns {
	display: flex;
	align-items: center;
	transform: translateX(50%);
	width: 740px;
	margin-bottom: 94px;
}

.summer img {
	margin-top: 40px;
}

.yes_no {
	width: 390px;
	margin-bottom: 104px;
}

.yes {
	width: 195px;
}

.no {
	width: 195px;
}

.yn_active {
	color: #fff;
	background-color: #4ab7ff;
}

.cst_btn {
	padding: 10px 60px;
	font-size: 24px;
	color: #fff;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	border-radius: 20px;
	margin-left: 15%;
}

.season_act {
	opacity: 100%;
}

input {
	z-index: 0;
}

.cst_sec {
	padding-bottom: 100px;
}

.cst_btn:disabled {
	opacity: 50%;
}

/* TOURPAGE STYLES */

.tour_sec {
	margin: auto;
	margin-top: 40px;
	width: 1234px;
	background-color: #fff;
	border-radius: 20px;
}

.green {
	background-color: #00ff84;
}

.main_inf {
	padding: 27px 45px;
}

.tour_photo {
	width: 463px;
	border-radius: 40px;
	border: solid #9ad8ff3e;
	border-width: 11px;
}

.hotel_desc {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.decs_card {
	display: flex;
	gap: 20px;
}

.decs_card h2 {
	color: #fff;
	font-size: 28px;
}

.hotel_desc_desc {
	background-color: #ff5d80;
	padding: 27px 44px;
	border-radius: 40px;
}

.hotel_name {
	color: #fff;
	text-align: center;
	background-color: #ff5d80;
	border-radius: 40px;
	margin-bottom: 30px;
}

.tour_char {
	background-color: #3ad8ff;
}

.tour_characterisctics {
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: 50px;
}

.tour_char {
	padding: 27px 28px;
	border-radius: 30px;
}

.tour_desc {
	color: #fff;
	background-color: #3ad8ff;
	display: flex;
	justify-content: center;
	width: 562px;
	padding: 20px;
	border-radius: 30px;
	text-align: justify;
}

.tour_sec {
	margin-bottom: 0px;
}

.tour_name {
	padding: 5px;
	color: #fff;
	text-align: center;
	background-color: #8b5aff;
	max-width: 615px;
	margin: auto;
	border-radius: 30px;
	margin-bottom: 20px;
}

/* TOURS TARIFF PAGE STYLES */

.tours_sec {
	margin: auto;
	max-width: 1234px;
	margin-top: 40px;
	transition: all 1s ease-in-out;
}

.choose_tariff {
	display: flex;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	width: 388px;
}

.button {
	padding: 10px 20px;
	font-size: 18px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	background-color: #fff;
	font-weight: 600;
	color: #0000003f;
	transition: all 0.2s ease-in-out;
}

.hotel_header {
	display: flex;
	align-items: center;
	gap: 10px;
	transition: all 1s ease-in-out;
}

.tour_card_stars {
	display: flex;
	transition: all 1s ease-in-out;
}

.tour_card_stars img {
	width: 24px;
	transition: all 1s ease-in-out;
}

.tour_card {
	display: flex;
	background-color: #ffffff;
	align-items: center;
	justify-content: space-between;
	height: 200px;
	overflow: hidden;
	border-radius: 20px;
	margin-top: 30px;
	transition: all 1s ease-in-out;
}

.hotel_inf {
	margin-top: 56px;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 5px;
	transition: all 1s ease-in-out;
}

.tours_window {
	background-color: #fff;
	overflow: hidden;
	border-radius: 20px;
	border-top-left-radius: 0px;
	padding: 20px;
	transition: all 0.2s ease-in-out;
}

.tour_button {
	margin-top: 10px;
	font-size: 16px;
	padding: 5px 60px;
	border-radius: 30px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 900;
	background-color: #37ff9e;
	color: #fff;
	transition: all 0.2s ease-in-out;
}

.tour_inf {
	display: flex;
	justify-content: space-between;
	gap: 120px;
	transition: all 0.2s ease-in-out;
}

.tour_tariff {
	height: 200px;
	width: 300px;
	color: #fff;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease-in-out;
}

.tour_head {
	display: flex;
	flex-direction: column;
	margin-left: 16px;
	transition: all 0.2s ease-in-out;
}

.tour_head img {
	border-radius: 20px;
	width: 250px;
	height: 166px;
	transition: all 0.2s ease-in-out;
}

.econom_btn {
	background-color: #70ff5d;
	color: #fff;
	border-radius: 10px;
}

.comfort_btn {
	background-color: #5df7ff;
	color: #fff;
	border-radius: 10px;
}

.business_btn {
	background-color: #ce48ff;
	color: #fff;
	border-radius: 10px;
}

.all_btn {
	background-color: #fbe56d;
	color: #fff;
}

p {
	text-align: justify;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* FOOTER STYLES */

.footer {
	width: 1234px;
	margin: auto;
	border: solid #dd18fb;
	border-top-width: 12px;
	border-right-width: 12px;
	border-left-width: 12px;
	border-bottom-width: 0;
	background-color: #ffffff;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 20px;
	display: flex;
	justify-content: center;
	gap: 230px;
	transform: translateY(100%);
}

.links {
	display: flex;
	flex-direction: column;
}

.a {
	color: #dd18fb;
}

.footer p {
	color: #dd18fb;
	font-weight: 600;
}

/* ABOUT US PAGE STYLES */

.about_us {
	max-width: 1234px;
	margin: auto;
	margin-top: 160px;
	background-color: #fff;
	border-radius: 20px;
}

.icon {
	width: 46px;
}

.inf {
	padding: 20px;
}

.inf h2 {
	color: #ff99d3;
}

.inf p {
	font-weight: 600;
	color: #5b5b5b;
}

.inf_tar {
	padding: 20px;
}

.inf_tar h2 {
	color: #30b7ff;
}

.inf_tar p {
	font-weight: 600;
	color: #5b5b5b;
}

p {
	text-align: justify;
}
